/* 
From Josh Comeau https://www.joshwcomeau.com/css/custom-css-reset/
This is minimal, there are other options
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
######################################################################
Material Icons
######################################################################
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(material-icons.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(material-icons-outlined.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
	font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
	font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*
######################################################################
Custom styles below here
######################################################################
*/

body {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
	padding: 2vh 2vw;
}

/* Don't use visited link colors */
a:visited {
	color: inherit
}

ul.no-bullets {
	list-style-type: none;
	padding: 0;
}

.navbar-list ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	gap: 1vw;
}

.navbar-list li {
	text-align: center;
	color: #3a6bbf;
	padding: 8px;
	border-radius: 10px;
	flex:1;
}

.navbar-list li:hover {
	background-color: #3a6bbf;
	color: #bffaf8;
	transition: all 150ms linear;
}

.navbar-list a {
	text-decoration: none;
}

.page-header > h1 {
	text-align: center
}
