/*
######################################################################
Material Icons
######################################################################
*/

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/css/material-icons.woff2) format('woff2');
}

@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(/css/material-icons-outlined.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/*
######################################################################
Custom styles below here
######################################################################
*/

.zippay-main {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
		source-sans-pro, sans-serif;
	font-weight: normal;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Don't use visited link colors */
a:visited,
a:active {
	color: inherit;
}

.page-header,
.navbar-list {
	flex: 0 0 auto;
}

.page-header > h1 {
	text-align: center;
}

.navbar-list ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	gap: 1vw;
}

.navbar-list li {
	/* cursor: pointer; */
	cursor:
		url(../assets/cursor_final.png) 4 12,
		auto;
	text-align: center;
	color: #3a6bbf;
	padding: 8px;
	border-radius: 10px;
	flex: 1;
}

.navbar-list li:hover {
	background-color: #3a6bbf;
	color: #bffaf8;
	transition: all 150ms linear;
}

.navbar-list a {
	text-decoration: none;
	cursor:
		url(../assets/cursor_final.png) 4 12,
		auto;
}
