/*
######################################################################
Material Icons
######################################################################
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/material-icons.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/css/material-icons-outlined.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
	font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
	font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*
######################################################################
Custom styles below here
######################################################################
*/

.zippay-main {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
}

/* Don't use visited link colors */
a:visited {
	color: inherit
}

.navbar-list ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	gap: 1vw;
}

.navbar-list li {
	text-align: center;
	color: #3a6bbf;
	padding: 8px;
	border-radius: 10px;
	flex:1;
}

.navbar-list li:hover {
	background-color: #3a6bbf;
	color: #bffaf8;
	transition: all 150ms linear;
}

.navbar-list a {
	text-decoration: none;
}

.page-header > h1 {
	text-align: center
}

.container {
	display: flex;
	column-gap: 2em;
}

.send-payment-form {
	width: 25vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	row-gap: 1em;
	column-gap: 0.5em;
}

.form-label {
	/* text-align: end; */
}

.section-header {
	margin-bottom: 2vh;;
}
