main {
	margin-left: 10vw;
	margin-right: 10vw;
}

h1 {
	text-align: center;
}

.container {
	border: 2px black solid;
	padding: 10px;
	width: 50vw;
	/* height: 15vw; */
	display: grid;
	gap: 5px;
}

.box {
	border: 2px red dashed;
	font-size: 150%;

	/* Grid in a Grid! 🤯 */
	/* This vertically and horizontally centers the text */
	display: grid;
	place-content: center;
}

.three-by-three {
	/* grid-template-rows: 1fr 1fr 1fr; */
	/* grid-template-columns: 1fr 1fr 1fr; */

	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.two-columns {
	grid-template-columns: repeat(2, 1fr);
}

.specific-placement {
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.specific-placement :first-child {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.specific-placement :nth-child(2) {
	grid-row-start: 1;
	grid-row-end: 3;
}

.specific-placement :nth-child(3) {
	grid-column: 1 / 3;
	grid-row: 2 / 4;
}

.specific-placement :nth-child(5) {
	grid-column: 3 / span 2;
}

.specific-placement :nth-child(6) {
	grid-area: 4 / 1 / 6 / 5;
}

.specific-placement :nth-child(8) {
	grid-column: span 2;
}

.named-areas {
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas:
		'header header header'
		'nav main right-col'
		'footer footer footer';
}

.named-areas .area-header {
	grid-area: header;
}
.named-areas .area-nav {
	grid-area: nav;
}
.named-areas .area-main {
	grid-area: main;
}
.named-areas .area-right {
	grid-area: right-col;
}
.named-areas .area-footer {
	grid-area: footer;
}
